<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Vegetable Trading System</h1>
    <p class="lead">Connecting consumers with fresh farm products</p>
  </div>

  <h2>Fresh Vegetables</h2>
  <div class="row">
    <% vegetables.forEach(function(veg) { %>
      <div class="col-md-4">
        <div class="card">
          <img src="<%= veg.image %>" class="card-img-top" alt="<%= veg.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= veg.name %></h5>
            <p class="card-text">$<%= veg.price %>/kg</p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <h2>Available Land for Rent</h2>
  <div class="row">
    <% farmLands.forEach(function(land) { %>
      <div class="col-md-4">
        <div class="card">
          <img src="<%= land.landImage %>" class="card-img-top" alt="Land in <%= land.address %>">
          <div class="card-body">
            <h5 class="card-title">Land in <%= land.address %></h5>
            <p class="card-text"><%= land.area %> - Available for Rent</p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
